body{
    background-image: url("../images/gravel.jpg.png");
    padding: 0;
    margin: 0;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.main{
    min-height: calc(100vh - 55px);
}



#mainWrapper{
    width: 960px;
    margin: 0 auto;
}

header{
    background-color: #ffffff;
    margin-bottom: 30px;
    
}

#main_title{
    background-color: #4aaaa5;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px;
}

#title_header{
    display: inline-block;
    float: right;
}

nav a.current{
    color: blue;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color:#777;
}

nav a:hover{
    color: black;
}

nav a:active{
    color: gold;
}



#mainImage{
    width: 150px;
}

#main_wrapper2{
    width: 960px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
}


.title_border{
    border-bottom: 2px solid #666666;
}

img{
    width: 250px;
    margin-right: 15px;
    box-shadow: 5px 3px 10px 6px #888888;
    float: left;
}

#content_Wrapper{
    margin: 15px 15px 15px;
    overflow: auto;
    position: relative;
}


footer{
    background-color: #666666;
    color: #fff;
    height: 55px;
    text-align: center;
    clear: both;
}

#outerFooter{
    background-color: #4aaaa5;
    height: 55px;
    padding-top: 10px;
    text-align: center;
    clear: both;

}



#name_box {
    margin-bottom: 10px;
    width: 90%;
}

#email_box {
    margin-bottom: 10px;
    width: 90%;
}

#text_box {
    margin-bottom: 10px;
    width: 90%;
}

#submitButton{
    background-color: #4aaaa5;
    padding: 5px 10px;
}



.picture_table{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
}

.picture_table img{
    opacity: .5;
    margin-bottom: 5px;
}

img:hover{
    opacity: 1;
}

#table{
    position: relative;
}


.text_title {
    position: absolute;
    top: 60%;
    width: 94%;
    height: 40px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    padding-top: 5%;
}